<div class="container">
  <h2>Pick date</h2>
  <form [formGroup]="dateForm">
    <div class="form-group">
      <p>Day</p>
      <input
        type="number"
        class="form-control"
        min="1"
        max="28"
        formControlName="day"
        name="day"
        required
      />
    </div>

    <div class="form-group">
      <p>Season</p>

      <select formControlName="season">
        <option value="{{ Season.SPRING }}">Spring</option>
        <option value="{{ Season.SUMMER }}">Summer</option>
        <option value="{{ Season.AUTUMN }}">Autumn</option>
        <option value="{{ Season.WINTER }}">Winter</option>
      </select>
    </div>

    <div class="form-group">
      <p>Year</p>
      <input
        type="number"
        class="form-control"
        id="day"
        min="1"
        name="year"
        formControlName="year"
        required
      />
    </div>

    <div>{{ dateForm.value | formatDate }}</div>
    <div>{{ dateForm.value | weekDay }}</div>
  </form>
</div>
